.homePage {
    margin: auto !important;
    max-width: 70%;
    border-left: 0.05rem solid lightgray;
    border-right: 0.05rem solid lightgray;
}

.homeTitle {
    text-align: center !important;
    border-bottom: 0.05rem solid lightgray;
}

.homeTitle h1 {
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.newPost_container {
    padding-bottom: 0px !important;
    padding-top: 3rem !important;
}

.postcard_container {
    display: block !important;
    width: 100% !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}